<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>83513D3E-39AF-4A47-9FA7-E05D2ED44749</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>0</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Apple M1 Pro</string>
				<key>cpuSpeedInMHz</key>
				<integer>0</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>10</integer>
				<key>modelCode</key>
				<string>MacBookPro18,3</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>10</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone15,2</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
		<key>94CC626E-2F83-49AA-B04A-8681A9B72AFD</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>400</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Quad-Core Intel Core i7</string>
				<key>cpuSpeedInMHz</key>
				<integer>2700</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>modelCode</key>
				<string>MacBookPro15,2</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>4</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone13,2</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
		<key>C6C089D8-49FD-4E72-AC12-3164803B7349</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>400</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>6-Core Intel Core i9</string>
				<key>cpuSpeedInMHz</key>
				<integer>2900</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>12</integer>
				<key>modelCode</key>
				<string>MacBookPro15,3</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>6</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone12,5</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
